---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const pageTitle = 'About me';

const identity = {
    firstName:"Ikenna",
    country: "Nigeria",
    occupation: "Frontend Developer",
    hobbies: ['chess', 'stargazing', 'learning'],
}

const skills = ['HTML', 'CSS', 'Javascript', 'Astro', 'Python' ];

const happy = true;
const finished = true;
const goal = '✔️ 3';

const skillColor = '#0f8a42';
const fontWeight = '600';
const textCase = 'uppercase';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
    <!-- styles -->
    <style define:vars={{skillColor, fontWeight, textCase}}>
        h1 {
            color: purple;
            font-size: 4rem;
        }

        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }
    </style>
</head>
<body>
<Navigation />
<h1>About me</h1>
<p>Hello I'm Ikenna Richard, a front end developer from Nigeria, I dont have much clue about writing a blog but I love creating awesome contents with Javascript and Astro. If you want to know more about me, check out my github profile <a href="http://github.com/ikennarichard" target="_blank" rel="noopener noreferrer">@ikennarichard</a>. It's nice having you around.</p>

<p>Here are a few facts about me:</p>
<ul>
  <li>My name is {identity.firstName}.</li>
  <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
  {identity.hobbies.length >= 2 && 
    <li>Two of my hobbies are: playing {identity.hobbies[0]} and {identity.hobbies[1]}</li>
  } 
</ul>
<p>My skills are:</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>

{happy && <p>Astro is awesome</p>}
{finished ? <p>Done amigos 🤠</p>:<p>My goal is to finish in {goal} days</p>}
<Footer/>
</body>
</html>
